.btn-info-sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  background-color: green;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.copyrigth {
  position: fixed;
  bottom: 10px;
  margin: 5px;
  color: #ffffff;
  z-index: 1000;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.menu-expandible {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.324);
  transition: 1.5s;
}
.menu-expandible.active {
  left: 0;
  transition: 0.9s ease-in-out;
  z-index: 100;
}

/* responsive */
@media screen and (max-width: 1350px) {
  .admin-layout__left {
    height: 1000px;
  }
}

.button-burger {
  display: none;
}

/* Teléfonos inteligentes con pantallas pequeñas */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .copyrigth {
    width: 100%;
    text-align: center;
  }
  /* tus estilos para pantallas pequeñas */
  .admin-layout {
    overflow-x: hidden;
  }
  .admin-layout__left {
    display: none;
  }
  .menu-expandible-close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/* Teléfonos inteligentes con pantallas medianas */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* .admin-layout{
      overflow-x: hidden;
      overflow-y: auto  ;
    } */
  .admin-layout__left {
    display: none;
  }
  .admin-layout__right-content {
    width: 100%;
    margin-top: 70px;
  }
}

/* Tabletas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .admin-layout__left {
    display: none;
  }
}

/* Monitores de escritorio y portátiles */
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .admin-layout__left {
    width: 140px;
    height: auto;
  }
}

