.btn-logout-left {
  position: fixed;
  bottom: 0px;
  left: 10px;
  z-index: 1000;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
  background-color: rgba(255, 0, 0, 0.331);
  margin: 5px;
  border: none;
  cursor: pointer;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
  .btn-logout {
    position: fixed;
    bottom: 0px;
    left: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: rgba(15, 90, 15, 0.408);
    margin: 10px;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
}