.header-movil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    z-index: 1000;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-item {
    color: white;
    font-size: 24px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
  }

  .menu-item.active {
    color: #ee88fa;
  }

  /* Mostrar solo en pantallas pequeñas */
  @media (max-width: 768px) {
    .header-movil {
      display: block;
    }
  }
