$primary: #1890ff;
$primary-hover: #0280b3;

//text
$text-light: #fff;


//background
$background-dark : #001b35;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

//border
$border-grey: #808080;

//status
$success: #84b84c;
$error: #9f3a38;

//social color
$facebook: #3b5998;
$twitter: #1da1f2;
$google: #dd4b39;
$instagram: #e4405f;
$youtube: #ff0000;
$linkedin: #0077b5;
$violet: #8a2be2;