.not-found {
  color: black;
}

.error-4 {
  font-size: 100px;
  font-weight: bold;
}
.not-found-container {
  text-align: center;
  padding: 50px;
  background-color: #1a1a2e;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-image {
  width: 300px;
  margin-bottom: 20px;
}

.not-found-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff4c4c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.not-found-button:hover {
  background-color: #ff1a1a;
}
